@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Pinyon+Script&display=swap&family=Cinzel:wght@400..900');
@import "@angular/cdk/overlay-prebuilt.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-primary: #D4B483; /* En-têtes et boutons */
	--color-secondary: #8B5E3C; /* Elements décoratifs ou secondaires */
	--color-tertiary: #A2C93A; /* Accentuations et détails */
	--color-quaternary: #F5F5DC; /* Fonds et textes */
	--color-quinary: #e9e0bb; /* Texte */

	--font-primary: 'Cinzel', serif;
	--font-secondary: 'Merriweather Sans', sans-serif;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: var(--font-secondary);
	background-color: var(--color-quaternary);
	color: black;
	overflow-x: auto;
	overflow-y: auto;
}

app-root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
}

main {
	flex: 1;
	width: 100%; 
}

app-footer {
	width: 100%;
	background-color: var(--color-primary); 
}


app-header {
	width: 100%;
}