<div id="wrapper">
	<div class="bloc">
		<h2>À propos de nous</h2>
		<p>
			Bienvenue chez Baklava, où chaque bouchée de nos baklavas vous transporte dans un voyage culinaire exceptionnel.
			Nous sommes passionnés par l'art de la pâtisserie et nous nous efforçons de créer les meilleurs baklavas en uitlisant des ingrédients frais et authentiques.
		</p>
	</div>

	<div class="bloc">
		<h2>Notre histoire</h2>
		<p>
			Fondé en 2027, Baklava est né d'une passion pour les saveurs authentiques et les traditions culinaires transmises de génération en génération.
			Notre mission est de partager avec vous l'authenticité et la richesse des baklavas, préparés avec amour et expertise.
		</p>
	</div>

	<div class="bloc">
		<h2>Nos horaires</h2>
		<p>Nous sommes ouverts aux horaires suivants :</p>
		<ul>
			<li>Mardi - Dimanche : 12:00 - 15:00, 19:00 - 22:00</li>
			<li>Lundi : Fermé</li>
		</ul>
		<p>N'hésitez pas à réserver votre table en ligne pour une expérience culinaire inoubliable.</p>
		<button routerLink="/reservation">Réserver en ligne</button>
	</div>

	<div class="bloc">
		<h2>Où sommes nous ?</h2>
		<p>Vous pouvez nous retrouver ici :</p>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d831.2571283579664!2d7.690397479270369!3d48.58922401614411!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4796b7c90d39af65%3A0xac42acbaca40e2e2!2sBurger%20King!5e0!3m2!1sfr!2sfr!4v1717530872097!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>	
	</div>
	<div class="bloc">
		<h2>Notre équipe</h2>
		<p>
			Chez Baklava, notre équipe dévouée s'engage à vous offrir le meilleur service et les baklavas les plus délicieux.
			Chaque membre de notre équipe apporte une expertise unique et une passion pour la cuisine qui se reflètent dans chaque plat que nous servons.
		</p>
	</div>
	<div class="bloc">
		<h2>Contactez-nous</h2>
		<p>Pour toute question, n'hésitez pas à nous contacter :</p>
		<ul>
			<li>Téléphone : +33 1 23 45 67 89</li>
			<li>Email : baklava&#64;gmail.com</li>
		</ul>
	</div>
</div>