<div id="wrapper">
	<div id="peoplenumbermodule">
		<p id="peoplenumberlabel">Nombre de personnes :</p>
		<div id="peoplenumberbuttons">
			@for (x of [].constructor(this.MaxPeopleNumberPerReservation); track $index) {
				<button
				class="peoplenumberbutton"
				[ngClass]="{'selectedtest': $index+1 == Calendar.PeopleNumber}"
				(click)="onNumberOfPersonChange($index+1)">
					{{$index+1}}
				</button>
			}
		</div>
	</div>

	<div id="hiddenwrapper">
		@if (Calendar.PeopleNumber != 0)
		{
			<div id="calendarmodule">
				<div id="monthyearswitch">
					<button id="previousmonthbutton" (click)="switchMonth(-1)">&lt;</button>
					<p>{{getSelectedMonthName()}} {{this.Calendar.Date.getFullYear()}}</p>
					<button id="nextmonthbutton" (click)="switchMonth(1)">&gt;</button>
				</div>
				<Calendar
					[days]="this.Days"
					[offset]="this.Days[0].day.getDay() === 0 ? 7 : this.Days[0].day.getDay()"
					(onDateSelected)="onDateSelected($event)"
				/>
			</div>

			@if (SelectedDay != null)
			{
				<div id="schedulemodule">
					<ScheduleSelector
						[schedules]="this.SelectedDay.slots"
						(onScheduleSelected)="onScheduleSelected($event)"
					/>
				</div>
			}
		}
	</div>

	<div id="recap">
		@if (Calendar.PeopleNumber != 0)
		{
			<p>{{getReservationCurrentStateMessage()}}</p>
		}
	</div>

	@if(SelectedDay != null && SelectedSchedule != null)
	{
		<button id="validationbutton" (click)="goToContactInfo()">Valider</button>
	}
</div>