<footer class="bg-gray-300 mt-8" id="footer">
    <div class="container mx-auto p-6">
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
            <div>
                <h2 class="text-xl font-semibold text-pink-500 mb-4">À propos</h2>
                <p class="text-sm text-gray-700">BaklavaResa !</p>
            </div>
            <div>
                <h2 class="text-xl font-semibold text-pink-500 mb-4">Liens utiles</h2>
                <ul class="text-sm text-gray-700">
                    <li><a href="#">Lien 1</a></li>
                    <li><a href="#">Lien 2</a></li>
                    <li><a href="#">Lien 3</a></li>
                    <li><a href="#">Lien 4</a></li>
                </ul>
            </div>
            <div>
                <h2 class="text-xl font-semibold text-pink-500 mb-4">Contact</h2>
                <p class="text-sm text-gray-700">Adresse<br>Code Postal Ville</p>
                <p class="text-sm text-gray-700">Téléphone<br>Email</p>
            </div>
        </div>
    </div>
</footer>

