#title {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 50%;

	font-family: var(--font-primary);
	font-weight: 600;
	font-size: 2.5rem;
}

#title:hover {
	cursor: pointer;
}

#menu {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100%;
}

#links {
	display: flex;
	justify-content: space-evenly;
	align-items: center;

	width: 50%;
	height: 100%;

	font-family: var(--font-primary);
	font-weight: 600;
	font-size: 1.5rem;
}

#links a {
	position: relative;
	padding: 0 1rem;
}

#links a::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1rem; /* Distance initiale par rapport au lien */
    width: 0.5rem;
    height: 0.5rem;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.3s ease;
}

#links a:hover::after,
#links a.active-link::after {
    bottom: -0.5rem; /* Distance finale par rapport au lien */
    opacity: 1;
}