<header class="bg-gray-300 text-pink-500 py-4">
    <div class="container mx-auto flex items-center justify-between px-4">
      <div class="flex items-center space-x-4">
        <div>
          <img src="https://avatars.githubusercontent.com/u/84086036?v=4" alt="Logo" class="h-8 w-8" routerLink="/">
        </div>
        <nav>
          <a class="font-semibold text-black hover:text-pink-500 ml-4" routerLink="admin">Admin</a>
          <a class="font-semibold text-black hover:text-pink-500 ml-4" routerLink="reservation">Réservation</a>
        </nav>
      </div>
    </div>
</header>