<div id="wrapper">
	<div id="peoplenumbermodule">
		<p id="peoplenumberlabel">Nombre de personnes :</p>
		<div id="peoplenumberbuttons">
			@for (x of [].constructor(this.MaxPeopleNumberPerReservation); track $index) {
				<button
				class="peoplenumberbutton"
				[ngClass]="{'selectedtest': $index+1 == Calendar.PeopleNumber}"
				(click)="onNumberOfPersonChange($index+1)">
					{{$index+1}}
				</button>
			}
		</div>
	</div>

	<div id="hiddenwrapper">
		@if (Calendar.PeopleNumber != 0)
		{
			<div id="calendarmodule">
				<div id="monthyearswitch">
					<button id="previousmonthbutton">&lt;</button>
					<p>{{getMonthName(Calendar.month)}} {{Calendar.year}}</p>
					<button id="nextmonthbutton">&gt;</button>
				</div>
				<div id="daysgrid">
				</div>
			</div>

			@if (SelectedDay != null)
			{
				<div id="schedulemodule">
					@for (schedule of Schedules; track $index) {
						<button class="schedule">{{schedule}}</button>
					}
				</div>
			}
		}
	</div>

	<div id="recap">
		@if (Calendar.PeopleNumber != 0)
		{
			<p>Réservation pour {{Calendar.PeopleNumber}} personnes @if(this.SelectedDay != null) {le {{this.displayDate(SelectedDay)}} @if(this.SelectedSchedule != null) {à {{this.SelectedSchedule}}}}</p>
		}
	</div>
</div>