<div id="wrapper">
	<div id="peoplenumbermodule">
		<p id="peoplenumberlabel">Nombre de personnes :</p>
		<div id="peoplenumberbuttons">
			@for (x of [].constructor(this.maxPeopleNumberPerReservation); track $index) {
				<button class="peoplenumberbutton" (click)="onNumberOfPersonChange($index+1)">{{$index+1}}</button>
			}
		</div>
	</div>
		
	<div id="calendarmodule">
		<label for="">Juin</label>
		@for (date of displayedMonth?.dates; track $index) {
			<button class="day" (click)="onDateSelected(date)">{{$index+1}}</button>
		}
	</div>
	
	<div id="schedulemodule">
		@for (schedule of availableSchedules; track $index) {
			<button class="schedule" (click)="selectSchedule(schedule)">{{schedule}}</button>
		}
	</div>
</div>