<div id="wrapper">
	<div id="peoplenumbermodule">
		<p id="peoplenumberlabel">Nombre de personnes :</p>
		<div id="peoplenumberbuttons">
			@for (x of [].constructor(this.MaxPeopleNumberPerReservation); track $index) {
				<button
				class="peoplenumberbutton"
				[ngClass]="{'selectedtest': $index+1 == Calendar.PeopleNumber}"
				(click)="onNumberOfPersonChange($index+1)">
					{{$index+1}}
				</button>
			}
		</div>
	</div>

	<div id="hiddenwrapper">
		@if (Calendar.PeopleNumber != 0)
		{
			<div id="calendarmodule">
				<Calendar
					[monthName]="getMonthName(this.Days[0].day.getMonth())"
					[year]="this.Days[0].day.getFullYear()"
					[days]="this.Days"
					[offset]="this.Days[0].day.getDay()"
					(onDateSelected)="onDateSelected($event)"
				/>
			</div>

			@if (SelectedDay != null)
			{
				<div id="schedulemodule">
					<ScheduleSelector
						[schedules]="this.SelectedDay.slots"
						(onScheduleSelected)="onScheduleSelected($event)"
					/>
				</div>
			}
		}
	</div>

	<div id="recap">
		@if (Calendar.PeopleNumber != 0)
		{
			<p>{{getReservationCurrentStateMessage()}}</p>
		}
	</div>
</div>