#scheduledate {
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 1rem;
}

.schedulelist {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1rem;
	margin: 1rem;
}

.schedule {
	padding: 0.25rem 0.5rem;
	background-color: var(--color-primary);
	border-radius: 0.5rem;
}

.schedule:hover {
	background-color: var(--color-secondary);
}

.scheduleIsSelected {
	background-color: var(--color-secondary);
}

.servicetitle {
	margin-left: 1rem;
	color: var(--color-secondary);
}