.hidden {
	display: none;
}

#wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;

}

#peoplenumbermodule {
	margin: 1rem;
	display: flex;
	flex-direction: column;

	width: fit-content;
	text-align: center;

	background-color: var(--color-quinary);
	border-radius: 0.5rem;
}

#peoplenumberlabel {
	margin: 1rem 1.5rem;
	font-size: 1.5rem;
}

#peoplenumberbuttons {
	display: flex;
	justify-content: space-evenly;

	margin: 1rem 1.5rem;
}

.peoplenumberbutton {
	padding: 0.5rem 1rem;
	margin: 0.5rem;

	background-color: var(--color-primary);
	font-size: 1.5rem;

	border: none;
	border-radius: 0.5rem;

}

.selectedtest {
	background-color: var(--color-secondary);
}

#calendarmodule {
	margin: 1rem;
	display: flex;
	flex-direction: column;

	width: fit-content;
	text-align: center;

	background-color: var(--color-quinary);
	border-radius: 0.5rem;
}

#monthyearswitch {
	display: flex;
	justify-content: space-between;

	margin: 1rem 1.5rem;
}

#daysgrid {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(7, 1fr);
	grid-gap: 0.5rem;

	margin: 1rem;
}

.day {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 0.5rem;

	font-size: 1.25rem;
}

.day:hover {
	background-color: var(--color-primary);
	border-radius: 0.5rem;
	cursor: pointer;
}

.dayHasNoRoom {
	color: var(--color-secondary);
}