#mcwrap {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 80vh;
}

#mcchicken {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	height: 30%;
}

#label {
	font-size: 1.5em;
}

#error {
	color: red;
}