#mainwrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 80vh;

	background-image: url('../../../assets/home_background.png');
	background-size: contain;
	background-position: right;
	background-repeat: no-repeat;
}

#subwrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin-left: 10vw;

	height: 80%;

	color: var(--color-secondary);
	font-family: var(--font-primary);
	font-weight: 500;
}

#bigtitle {
	font-size: 5rem;
	text-shadow: -0.25rem 0.25rem 0.25rem var(--color-quinary);

	width: fit-content;
}

#luretext {
	font-size: 1.5rem;
	width: fit-content;
}

#toreservationbutton {
	font-size: 1.5rem;
	width: fit-content;
	background-color: var(--color-secondary);
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	color: var(--color-quinary);
}

#toreservationbutton:hover {
	background-color: var(--color-quinary);
	color: var(--color-secondary);
}