<div id="wrapper">
    <div id="menu">
        <div class="menu-section" id="entrees">
            <h2>Entrées</h2>
            <ul>
                <li>Baklava César</li>
                <li>Soupe au Baklava</li>
                <li>Baklava au fromage</li>
            </ul>
        </div>

        <div class="menu-section" id="plats-principaux">
            <h2>Plats principaux</h2>
            <ul>
                <li>Baklava frites</li>
                <li>Baklava rôti</li>
                <li>Lasagnes au Baklava</li>
            </ul>
        </div>

        <div class="menu-section" id="desserts">
            <h2>Desserts</h2>
            <ul>
                <li>Baklava</li>
                <li>Baklava Secret</li>
                <li>Baklava glacé</li>
            </ul>
        </div>
    </div>
</div>