#scheduleList {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
}

.schedule {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin: 1rem;
	padding: 1rem;

	background-color: var(--color-primary);
	border-radius: 0.5rem;
}